.quien-soy-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}